*::before, *::after {
  box-sizing: inherit;
}


body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;

  font-size: 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-line: none;

}

img {
  display: block;
  width:100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 68px;
  top: 0;
  left: 0;
  background-color: rgba(165, 53, 53, 0.726);
  z-index: 10;
}

.nav-list {
  text-decoration: none;
  margin-right: 2rem;
  display: flex;
  margin-bottom: 0px;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  padding: 16px 1rem 16px 1rem;
  color: white;
}

.nav-list a:hover {
  background-color: #45567D;
  text-decoration: none;
  color:  #f0f0f0;
}

/* Welcome-section */

#welcome-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(40,40,43);
  background: linear-gradient(90deg, rgba(40,40,43,1) 0%, rgba(2,2,9,1) 50%, rgba(55,50,50,1) 100%);
  color: white;
  width: 100%;
  height: 100vh;
  
  
}

#welcome-section p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #802E2E ;
    font-style: italic;
    font-weight: 300 ;  
   -webkit-transition: color 2s ease-out;
   -moz-transition: color 2s ease-out;
   -o-transition: color 2s ease-out;
   transition: color 2s ease-out

}

#welcome-section p:hover {
  color: red;
}

#welcome-section h1 {
  font-size:60px;
  font-weight: bold;
}


/* Project-section */

.project-section {
 text-align: center;
 padding: 10rem 2rem 6rem;
 background-color: #3b5249;
}

.project-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-weight: bold;
  color: white;
  font-size: 39px;
  border-bottom: 0.2rem solid white;
  font-family: 'Montserrat', sans-serif;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

p.project-title {
  text-decoration: none;
  margin: 2px;
}

.project {
  background-color: #28292a;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  
}


.code {
  color:  #28292a;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
  
  

}

.project-image {
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: cover ;
}


.project-title {
  font-size: 1.3rem;
  padding:  10px;
  color: white;
  text-decoration-line: none;
  margin-top: 5px;
}

 
.btn-dark {
 font-family: 'Montserrat', sans-serif;
 font-size: 2rem;
 margin-top: 2rem;
}

a.btn-dark:hover {
  background-color: #802E2E ;
}

.btn-dark:hover > i {
  transform: translateX(2px);
  
}

.btn-dark > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
 
}


/* Contact-session */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  padding: 0 2rem;
  background-color: #313131;
  color: white;
}

.contact-header > h2 {
  font-size: 4rem;
}

.contact-header > p {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: lighter;
}

.contact-links { 
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  max-width: 980px;
  flex-wrap: wrap;
  
  
  

}

.contact-links > a {
  color: white;
  font-size: 1.6rem;
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;

  
}

.contant-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  padding-right: 1rem;
  
}

.contact-details:hover {
  transform: translateY(8px);
  text-decoration-line: none;
  text-decoration-style: none;
  color: #853333;
  font-weight: 600;
}

.contact-details > i {
  color: white;
  padding-right: 5px;
  
}

.contact-details > a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  
}

/* Footer */

footer {
 font-family: 'Montserrat', sans-serif;
 font-size: 1rem;
 font-weight: 300;
 max-width: 100%;
 min-height: 100px;
 display: flex;
 background-color:#3B5249;
}

footer > p {
  border-top: 0.2rem solid #853333;
  color: white;
  text-align: end;
  padding-top: 2%;
  padding-right: 10%;
}

/*  Sizing */


/* @media (max-width: 894px) {
  .project-grid {
    width: 86%;
  }
} */


@media (max-width: 657px) {
  h1 {
    font-size: 20px;
  }
}


@media (max-width: 551px) {
  .project-grid {
    justify-content: center;
  }

  #welcome-section > h1 {
    font-size: 3.3rem;
  }

  #projects > h2 {
    font-size: 2rem;
  }

  .contact-header > h2 {
    font-size: 3rem;
  }
}


@media (max-width: 504px) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }

  
  footer {
    flex-direction: column;
    text-align: center;
  }
  
  .project-grid {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .project-section {
    padding: 6rem 1rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}


